.Bv {
  /*bienvenido... inicio militantes... Crear cuenta*/
  text-align: left;
  /*la alineacion del texto*/
  font-family: Arial, sans-serif;
  color: aliceblue;
  padding: 15px;
  /*color */
}

.us {
  /*el texto de usuario*/
  text-align: center;
  color: var(--secondary-color);
}

.cont {
  position: relative;
  left: 500px;
  top: 50px;
}

.cont {
  position: relative;
  left: 700px;
  top: 50px;
  border-radius: 7px;
  width: 90%;
  max-width: 300px;
  background: var(--secondary-color);
  padding: 15px;
  align-items: center;

}

.contenedor {
  border-radius: 7px;
  position: relative;
  left: 710px;
  top: 50px;
}

.contenedor {
  border-radius: 7px;
  position: relative;
  text-align: center;
  color: var(--secondary-color);
  width: 90%;
  max-width: 300px;
  background: #fff;
  padding: 15px;
  align-items: center;
}

.form-control-text {
  margin-top: 10px;
  padding: 3px 2px;
  width: 60%;
  height: 25px;
  font-size: 11px;
  font-weight: 6px;
  background-color: var(--white);
  background-position: 10px 10px;
  background-repeat: no-repeat;

}

input::placeholder {
  /*input del texto provicional(placeholder)*/
  /*jason corregi a color negro  */
  color: rgb(0, 0, 0);
  font-size: 11px;

}

.remember {
  font-size: 12px;
  /*es el acercamiento de la letra */
  margin-top: 15px;

}

.butt {
  /*boton de iniciar sesion*/
  text-align: center;
  color: var(--secondary-color);
  color: white;

}

.fas.fa-check-circle {
  color: var(--secondary-color);
}

.fas.fa-user {
  color: var(--secondary-color);


}

.fas.fa-lock {
  color: var(--secondary-color);

}

.container-items-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;

}