.ruGral {
    padding: 16px;
    padding-top: 116px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 375px;
    grid-auto-flow: dense;
    gap: 16px;
}

.ruGral section {
    background-color: var(--gray_base-color);
    border-radius: 6px;
    padding: 16px;
    height: max-content;
}

.registroUsuario h3 {
    grid-column-start: span 2;
    color: black;
    padding: 10px;
    font-weight: bold;
}


.ruGral input{
    background-color: var(--gray_secondary-color);
    display: grid;
    position: static;
    border-radius: 8px;
    padding: 16px;
    height: 16px;
    width:max-content;
    gap: 10px;
    margin: 10px;
    border: none;
    font-size: 14px;
    
}

.ruGral p {
    margin: 1px;
    color: black;
}

.ruGral input[type=submit] {
    text-align: center;
    height: max-content;
    background-color: var(--secondary-color);
    color: #ffffff;
    display: block;
    position: absolute;
    right: 20px;
    top: 440px;
}

.formularioRegUs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


