.cont_tablero {
    margin-top: 60px;
    border-radius: 35px;
    position: absolute;
    top: 15%;
    left: 18%;
    background-color: var(--secondary-color);
    padding: 30px;
    color: var(--white);
    font-size: 20px;
    width: 60%;
    height: 65%;
    display: flex;
    justify-content: center;

}

.tarea {
    position: relative;
    left: 26%;
    top: 195px;
    margin-top: 55px;
    display: grid;
    color: var(--white);
    padding: 6px;
    
}

.seleccionar {
    background-color: var(--secondary-color);
    width: 125%;
    height: 5px;
    max-width: 300px;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;    
}

.selec {
    background-color: var(--gray_secondary-color);
    padding: 20px;
    height: 20px;
    max-width: 500px;
    color: var(--white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

.fa-solid.fa-angle-down {
    position: relative;
    left: 25%;
    color: var(--white);

}


.InicioF input {
    background-color: var(--gray_secondary-color);
    color: var(--black);
    width: 200px;
    position: relative;
    left: 19%;
    top: 250px;
    

}

.FinalF input {
    background-color: var(--gray_secondary-color);
    color: var(--black);
    width: 200px;
    position: relative;
    left: 35%;
    top: 202px;

}

.description input {
    background-color: var(--gray_secondary-color);
    position: relative;
    left: 24%;
    top: 220px;
    width: 40%;
    height: 50%;
    max-width: 300px;
    padding: 15px;
    border-radius: 25px;

}

.avance {
    position: relative;
    left: 19%;
    top:175px;
    margin-top: 55px;
    display: grid;
    color: var(--white);
    padding: 6px;
}

.seleccionar {
    background-color: var(--secondary-color);
    width: 125%;
    height: 5px;
    max-width: 300px;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;

}

.sel {
    background-color: var(--gray_secondary-color);
    padding: 20px;
    height: 20px;
    max-width: 500px;
    color: var(--black);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-solid.fa-angle-down {
    position: absolute;
    left: 83%;
    color: var(--white);

}

.cont_fotos {
    position: relative;
    left: 19%;
    top: 235px;
    width: 424px;
    height: 35px;
    padding: 2px;
    background-color: var(--white);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.seleccionart {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.cont_fotos button{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
input::placeholder {
    color: var(--white);
    
}

.list {
    color: var(--white);
    text-align: center;
    position: absolute;
    left: 58%;
    top: 250px;
}

.cont_militantes {
  height: 220px;
  width: 295px;
  border-radius: 35px;
  max-width: 500px;
  background-color: var(--gray_secondary-color);
  padding: 15px;
  text-align: center;
  position: relative;
  left: 57%;
  top: 25px;
}