

/* Contenedor principal centrado */
.main-container {
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 800px;
  
}

/* Caja del formulario */
.contenedor {
  background-color: #e1e1e1;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  height: 800px;
  text-align: center;
}

/* Título del formulario */
.texth2 {
  color: #640909;
  margin-bottom: 20px;
}

/* Estilos de los inputs y select */
input[type="text"], input[type="date"], select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #ca2525;
  font-size: 16px;
}

/* Estilos de los botones */
.botons {
  display: flex;
  justify-content: space-between;
}

.bottom {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #640909;
  font-weight: bold;
}

.bottom:hover {
  background-color: transparent;
  border: 2px solid #640909;
  color: #640909;
}
.form-group {
  margin-bottom: 15px;
}