@import url(login.css);
@import url(visualizardatosuestilo.css);
@import url(comite.css);
@import url(CambiarContraseñaestilo.css);
@import url(eventoestilo.css);
@import url(header.css);
@import url(inicio.css);
@import url(registrousuario.css);
@import url(editardatosestilo.css);
@import url(grid2.css);
@import url(domicilio.css);
@import url(visualizarDatos.css);
@import url(asignar_comite.css);
@import url(sesion_comite.css);
:root {
    --primary-color: #231f20;
    --secondary-color: #9a2020;
    --gray_base-color: #e1e1e1;
    --gray_secondary-color: #bebebe;
    --gray_font-color: #696969;
    --form_card-color1: #fbfbfb;
    --form_card-color2: #e4e4e4;
    --text_box-color: #f9cbd0;
    --white: #ffffff;
}

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    
    
}

body {
    font-size: 100%;
    line-height: 1.5;
    background-color: var(--gray_base-color);
    

}

h1,
h2,
h3,
h4 {
    margin: 1em 0 .5em;
    line-height: 1.25
}

h1 {
    font-size: 2em
}

h2 {
    font-size: 1.5em
}

h3 {
    font-size: 1.2em
}

ul,
ol {
    margin: 1em 0;
    padding-left: 40px
}

p,
figure {
    margin: 1em 0
}

a img {
    border: none
}

sup,
sub {
    line-height: 0
}

