.Botón_regresar{
    display: inline-block;
    background-color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
    border-style: outset;
    border-color: black;
    position: absolute;
    left:78%;
    top: 77%;
    color: var(--secondary-color);
}

.visualizar_datos_usuario {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color); 
    padding: 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: white; 
    border-radius: 20px;
    font-size: 25px;
    width: 50%;
    border:outset;
    border-color: black; 
}

.fecha_registro{
    position: relative;
}

.fecha_registro input{
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0px 15px;
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--white);
    outline: none;
    position: relative;
    left: 10px;
    top: 20px;
}

.cambiar_contraseña{
    background-color: var(--secondary-color);
    width: 40%;
    color:var(--white);
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
    position: absolute;
    right:34%;
    top: 13%;
    display: none;
    z-index: 1000;
    border:outset;
    border-color: var(--primary-color); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 50%;
}

.antigüa_contraseña{
    position: relative;
}

.antigüa_contraseña input{
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0px 15px;
    border: 2px solid var(--white);
    background: var(--secondary-color);
    color: var(--white);
    outline: none;
}

.antigüa_contraseña label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(---white);
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
}

input:focus ~ label{
    top: 0;
    left: 15px;
    font-size: 16px;
    padding: 0 2px;
    background: var(--secondary-color);
}

.nueva_contraseña{
    position: relative;
}

.nueva_contraseña input{
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0px 15px;
    border: 2px solid var(--white);
    background: var(--secondary-color);
    color: var(--white);
    outline: none;
}

.nueva_contraseña label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(---white);
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
}

.confirmar_contraseña{
    position: relative;
}

.confirmar_contraseña input{
    width: 350px;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 0px 15px;
    border: 2px solid var(--white);
    background: var(--secondary-color);
    color: var(--white);
    outline: none;
}

.confirmar_contraseña label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(---white);
    font-size: 19px;
    pointer-events: none;
    transition: .3s;
}

#cerrar{
    position: absolute;
    right: 5%;
    top: 3%
}

.Botón_Cambiar{
    display: inline-block;
    background-color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
    border-style: outset;
    border-color: black;
    position: absolute;
    left:70%;
    top: 55%;
    color: var(--secondary-color);
}

.Botón_Guardar{
    display: inline-block;
    background-color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
    border-style: outset;
    border-color: black;
    position: absolute;
    left:70%;
    top: 25%;
    color: var(--secondary-color);
}

.Utilidades{
    font-size: 20px;
    font-family: 20px;
}

.Evento{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color); 
    padding: 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: white; 
    border-radius: 20px;
    font-size: 25px;
    width: 80%;
    gap: 20px;
    border:outset;
    border-color: black; 
}

.Ubicacion_Evento{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-color);
    width: 60%;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
    position: absolute;
    left: 20%;
    top: 13%;
    display: none;
    z-index: 1000;
    gap: 20px;      
    height: 40%;
    border:outset;
    border-color: black;             
}

.contenedor{
    width: 300px;
    cursor: pointer;
    position: relative;
}

.menu_desplegable{
    background-color: var(--secondary-color);
    padding: 20px;
    color: var(--white);
    font-weight: 500;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.porcentajes{
    position: absolute;
    width: 100%;
    background-color: var(--white);
    border-radius: 6px;
    margin-top: 14px;
    padding: 0 20px;
    max-height: 180px;
    overflow-y: auto;
    transition: .4s linear .2s;
    height: 0;
}

.opcion{
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    transition: 3.s ease-in-out;
}

.opcion:hover{
    color: var(--primary-color);
}

.porcentajes::-webkit-scrollbar{
    width: 4px;
    background-color: var(--secondary-color);
}

.porcentajes::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
}

.fa-solid.fa-xmark{
    color: var(--grey_base-color);
}