.evento {
    position: absolute;
    top: 15%;
    left: 18%;
    background-color: var(--gray_base-color);
    padding: 30px;
    color: var(--white);
    border-radius: 6px;
    font-size: 20px;
    width: 70%;
    height: 80%;
    /* border: outset;
    border-color: var(--primary-color); */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.nombre {
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 35px;
}

.utilidades {
    position: absolute;
    left: 30%;
    top: 7%
}

.columna1 {
    display: flex;
    justify-content: center;
}

.fecha_inicial{
    width: 100%;
    padding: 5px;
    display:grid;
    color: var(--white);
    justify-content: space-around;
    align-content: center;   
    padding: 6px;
}

.fecha_final{
    width: 100%;
    padding: 5px;
    display:grid;
    color:var(--white);
    justify-content: space-around;
    align-content: center;
    padding: 6px;
}

.input_format{
    background-color: var(--gray_secondary-color)!important;
    border-radius: 8px;
    padding: 16px;
    height: 16px;
}

.porcentajes{
    width: 100%;
    padding: 5px;
    display:grid;
    color: var(--white);
    justify-content: space-around;
    align-content: center;
    padding: 6px;
}

.select_menu {
    width: 260px;
    cursor: pointer;
    position: relative;
}

.select {
    background-color: var(--text_box-color);
    padding: 20px;
    color: var(--secondary-color);
    font-weight: 500;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options_list {
    position: absolute;
    width: 100%;
    background-color: var(--text_box-color);
    border-radius: 6px;
    margin-top: 14px;
    padding: 0 20px;
    max-height: 180px;
    overflow-y: auto;
    transition: .4s linear .2s;
    height: 0;
}

.option {
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    transition: 3.s ease-in-out;
}

.option:hover,
.option.selected {
    color: var(--secondary-color);
}

.options_list.active {
    height: 150px;
}

.estados{
    width: 100%;
    padding: 5px;
    display:grid;
    color: var(--white);
    justify-content: space-around;
    align-content: center;
    padding: 6px;
}

.select_menu2 {
    width: 260px;
    cursor: pointer;
    position: relative;
}

.select2 {
    background-color: var(--text_box-color);
    padding: 20px;
    color: var(--secondary-color);
    font-weight: 500;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options_list2 {
    position: absolute;
    width: 100%;
    background-color: var(--text_box-color);
    border-radius: 6px;
    margin-top: 14px;
    padding: 0 20px;
    max-height: 180px;
    overflow-y: auto;
    transition: .4s linear .2s;
    height: 0;
}

.option2 {
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    transition: 3.s ease-in-out;
}

.option2:hover,
.option2.selected {
    color: var(--secondary-color);
}

.option_list2::-webkit-scrollbar{
    width: 4px;
    background-color: var(--white);
}

.option_list2::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
}

.options_list2.active {
    height: 150px;
}