.ruGral {
    padding: 16px;
    padding-top: 116px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 375px;
    grid-auto-flow: dense;
    gap: 16px;
}

.ruGral section {
    background-color: #e1e1e1;
    border-radius: 6px;
    padding: 16px;
    height: max-content;
    display: grid;
}

.registroUsuario h3 {
    grid-column-start: span 2;
    color: black;
    padding: 10px;
    font-weight: bold;
}


.ruGral input{
    background-color: #a7a7a7;
    display: grid;
    position: static;
    border-radius: 8px;
    padding: 16px;
    height: 16px;
    width: auto;
    gap: 10px;
    margin: 10px;
    border: none;
    font-size: 14px;
}

.ruGral p {
    margin: 1px;
    color: black;
}

.ruGral input[type=submit] {
    text-align: center;
    height: max-content;
    background-color: #8B0000;
    color: #ffffff;
    grid-column: 2;
    grid-row: 2;
}

