{% extends "base_template.html" %}
{% block header %}
<header>
    {% include "header.html" %}
</header>
{% endblock %}
{% block content %}
<main>
    <section class="cambiar_contraseña" id="contraseñas">
        <div id="cerrar"><a href="javascript:void(0)" onclick="cerrarContraseña()"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <div class="antigüa_contraseña">
            <input type="password" required>
            <label>Ingrese su antigüa contraseña</label>
        </div>
        <div class="nueva_contraseña">
            <input type="password" required>
            <label>Ingrese su nueva contraseña</label>
        </div>
        <div class="confirmar_contraseña">
            <input type="password" required>
            <label>Comfirme su nueva contraseña</label>
        </div>
        <a href="{{url_for('mostrarDatosU')}}" class="Botón_Cambiar">Cambiar</a>
        <a href="{{url_for('mostrarDatosU')}}"class="Botón_Guardar">Guardar</a>
    </section>
        <script>
        function mostrarContraseña() {
            document.getElementById("contraseñas").style.display = "block";
        }

        function cerrarContraseña() {
            document.getElementById("contraseñas").style.display = "none";
        }
    </script>
</main>
{% endblock %}