{% extends "base_template.html" %}
{% block header %}
<header>
    {% include "header.html" %}
</header>
{% endblock %}
{% block content %}
<main>
    <section class="mostrar_datos_usuario" id="Datos">
        <div id="cerrar"><a href="javascript:void(0)" onclick="cerrarDatosUsuario()"><i
                    class="fa-solid fa-xmark"></i></a></div>
        <div class="fecha_registro">
            <input type="date" required>
            <label>Ingrese su fecha de registro</label>
        </div>
        <div class="comite_asignado">
            <input type="text" required>
            <label>Comité asignado</label>
        </div>
        <div class="coordinador_comite">
            <input type="text" required>
            <label>Comité que coordina</label>
        </div>
        <br>
        <br>
        <a href="#" onclick="mostrarContraseña()"><span style="color: white;">Cambiar
                contraseña</span></a>
        <a href="index.html" class="Botón_regresar">Regresar</a>
    </section>
    <section class="cambiar_contraseña" id="contraseñas">
        <div id="cerrar"><a href="javascript:void(0)" onclick="cerrarContraseña()"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <div class="antigüa_contraseña">
            <input type="password" required>
            <label>Ingrese su antigüa contraseña</label>
        </div>
        <div class="nueva_contraseña">
            <input type="password" required>
            <label>Ingrese su nueva contraseña</label>
        </div>
        <div class="confirmar_contraseña">
            <input type="password" required>
            <label>Comfirme su nueva contraseña</label>
        </div>
        <a href="datosu.html" class="Botón_Cambiar">Cambiar</a>
        <a href="datosu.html" class="Botón_Guardar">Guardar</a>
    </section>
    <section class="Evento" id="formulario">
        <div id="cerrar"><a href="javascript:void(0)" onclick="cerrarEvento()"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <form>
            <label for="fecha inicial del evento">Fecha inicial del evento</label>
            <input type="date" id="fecha inicial" name="fecha inicial">
            <label for="fecha final del evento">Fecha final del evento</label>
            <input type="date" id="fecha final" name="fecha final">
            <label for="porcentaje realizado">Porcentaje realizado</label>
            <div class="contenedor">
                <select class="menu_desplegable">
                    <div class="porcentajes"></div>
                    <div><option disabled selected>Seleccione el porcentaje</option></div>
                    <div class="opcion">25%</div>
                    <div class="opcion">50%</div>
                    <div class="opcion">75%</div>
                    <div class="opcion">100%</div>
                </select>
            </div>
            <br>
            <div class="Utilidades">
                <form>
                    <label>¿Qué materiales se utilizaron?</label><br>
                    <input type="checkbox">Lonas<br>
                    <label>¿Cuántas lonas se utilizaron?</label><br>
                    <input type="number" id="cantidad"><br>
                    <input type="checkbox">Volantes<br>
                    <label>¿Cuántos volantes se utilizaron?</label><br>
                    <input type="number" id="cantidad volantes"><br>
                    <label>¿Se realizaron reuniones de comite?</label><br>
                    <input type="checkbox">Si<br>
                    <label>¿Cuántas reuniones se llevaron acabo?</label><br>
                    <input type="number" id="cantidad reuniones"><br>
                    <input type="checkbox">No<br>
                </form>
            </div>
            <br>
            <a href="#" onclick="mostrarUbicacion()"><span style="color: white;">Ubicación</span></a>
            <a href="index.html" class="Botón_regresar">Regresar</a>
            <form>
    </section>
    <section class="Ubicacion_Evento" id="lugar">
        <div id="cerrar"><a href="javascript:void(0)" onclick="cerrarUbicacion()"><i class="fa-solid fa-xmark"></i></a>
        </div>
        <form>
            <label for="codigo postal">Código Postal</label>
            <input type="number" id="codigo postal" name="codigo postal">
            <label for="estado">Estado</label>
            <div class="Caja">
                <select class="Estado_desplegable">
                    <option disabled selected>Seleccione su estado</option>
                    <option>Aguascalientes</option>
                    <option>Baja California</option>
                    <option>Baja California Sur</option>
                    <option>Campeche</option>
                    <option>Chiapas</option>
                    <option>Chihuahua</option>
                    <option>Ciudad de México</option>
                    <option>Coahuila</option>
                    <option>Colima</option>
                    <option>Durango</option>
                    <option>Estado de México</option>
                    <option>Guanajuato</option>
                    <option>Guerrero</option>
                    <option>Hidalgo</option>
                    <option>Jalisco</option>
                    <option>Michoacán</option>
                    <option>Morelos</option>
                    <option>Nayarit</option>
                    <option>Nuevo León</option>
                    <option>Oaxaca</option>
                    <option>Puebla</option>
                    <option>Querétaro</option>
                    <option>Quintana Roo</option>
                    <option>San Luis Potosí</option>
                    <option>Sinaloa</option>
                    <option>Sonora</option>
                    <option>Tabasco</option>
                    <option>Tamaulipas</option>
                    <option>Tlaxcala</option>
                    <option>Veracruz</option>
                    <option>Yucatán</option>
                    <option>Zacatecas</option>
                </select>
            </div>
            <label for="colonia">Colonia</label>
            <input type="text" id="Ingresar colonia" name="Ingresar colonia" placeholder="Ingrese su colonia">
            <label for="municipio o alcaldía">Municipio o Alcaldía</label>
            <input type="text" id="municipio o alcaldía" name="municipio o alcaldía"
                placeholder="Ingrese su Municipio o Alcaldía">
            <label for="calle">Calle</label>
            <input type="text" id="Ingresar calle" name="Ingresar calle" placeholder="Ingrese su calle">
            <label for="exterior">No. Ext</label>
            <input type="number" id="num exterior" name="num exterior" placeholder="num exterior">
            <label for="interno">No. Int</label>
            <input type="number" id="num interno" name="num interno" placeholder="num interno">
        </form>
        <script>
            function mostrarDatosUsuario() {
                document.getElementById("Datos").style.display = "block";
            }
            function cerrarDatosUsuario() {
                document.getElementById("Datos").style.display = "none";
            }
        </script>
        <script>
            function mostrarContraseña() {
                document.getElementById("contraseñas").style.display = "block";
            }

            function cerrarContraseña() {
                document.getElementById("contraseñas").style.display = "none";
            }
        </script>
        <script>
            function mostrarEvento() {
                document.getElementById("formulario").style.display = "block";
            }
            function cerrarEvento() {
                document.getElementById("formulario").style.display = "none";
            }
        </script>
        <script>
            function mostrarUbicacion() {
                document.getElementById("lugar").style.display = "block";
            }

            function cerrarUbicacion() {
                document.getElementById("lugar").style.display = "none";
            }
        </script>
        <script>
            const select = document.querySelector(".menu_desplegable");
            const porcentajes = document.querySelector(".porcentajes");
            const opcion = document.querySelector(".opcion");
        </script>
</main>
{% endblock %}