<!DOCTYPE html>
<html lang="en">
<head>
    <title>Datos del usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="1.jpg"/> 
    <link rel="stylesheet" href="{{ url_for('static', filename='datosuestilo.css') }}">
</head>
<body>
    <header>
                <nav>
                    <input type="checkbox" id="Mostrar">
                <div class="Logotipo">
                    Nombre del Militante
                </div>
                <ul class="Lista">
                    <li><a href="#">Datos Personales</a></li>
                    <li><a href="#" onclick="mostrarDatosUsuario()">Datos del Usuario</a></li>
                    <li><a herf="#">Cerrar Sesión</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
                <label for="Mostrar" class="Barra_íconos">
                    <div class="Línea"></div>
                    <div class="Línea"></div>
                    <div class="Línea"></div>
                </label>
                </nav>
    </header>
    <main>
        <section class="Mostrar_Datos_Usuario" id="Datos">
            <div id="Cerrar"><a href="javascript:void(0)" onclick="cerrarDatosUsuario()"><img src="Imagenes/cerca.png"></a></div>
            <form>
                <label for="fecha de registro">Fecha de registro</label>
                <input type="text" id="fecha de registro" name="fecha de registro" placeholder="DD/MM/AA" />
                <br>
                <br>
                <label for="comité asignado">Comité asignado</label>
                <input type="text" id="comité asignado" name="comité asignado" placeholder="Ingrese su comité" />
                <br>
                <br>
                <label for="coordinador de comité">Coordinador de comité</label>
                <input type="text" id="coordinador de comité" name="coordinador de comité" placeholder="Comité que Coordina" />
                <br>
                <br>
                <a href="#Cambiar contraseña" onclick="mostrarContraseña()"><span style="color: white;">Cambiar contraseña</span></a>
                <a href="index.html" class="Botón_regresar">Regresar</a>
            </form>
        </section>
        <section class="Cambiar_contraseña" id="contraseñas">
                <div id="Cerrar"><a href="javascript:void(0)" onclick="cerrarContraseña()"><img src="Imagenes/cerca.png"></a></div>
                <form>
                    <label for="antigua contraseña">Antigua contraseña</label>
                    <br>
                    <br>
                    <input type="password" id="antigua contraseña" name="antigua contraseña">
                    <br>
                    <br>
                    <label for="nueva contraseña">Nueva contraseña</label>
                    <br>
                    <br>
                    <input type="password" id="nueva contraseña" name="nueva contraseña">
                    <br>
                    <br>
                    <label for="Confirmar contraseña">Confirmar contraseña</label>
                    <br>
                    <br>
                    <input type="password" id="Confirmar contraseña" name="antigua contraseña">
                    <br>
                    <br>
                    <a href="datosu.html" class="Botón_Cambiar">Cambiar</a>
                    <br>
                    <br>
                    <a href="datosu.html" class="Botón_Guardar">Guardar</a>
                </form>
        <script>
            function mostrarContraseña(){
                document.getElementById("contraseñas").style.display="block";
            }
        
            function cerrarContraseña(){
                document.getElementById("contraseñas").style.display="none";
            }
        </script>    
        </section>
        <script>
            function mostrarDatosUsuario(){
                document.getElementById("Datos").style.display="block";
            }
            function cerrarDatosUsuario(){
                document.getElementById("Datos").style.display="none";
            }
        </script>    
    </main>
</body>
</html>