<!DOCTYPE html>
<html lang="en">
<head>
    <title>Evento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="1.jpg"/> 
    <link rel="stylesheet" href="{{ url_for('static', filename='datusuestilo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='eventoestilo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome6/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome6/css/brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome6/css/solid.css') }}">
</head>
<body>
    <header>
        <nav>
            <input type="checkbox" id="Mostrar">
        <div class="Logotipo">
            Nombre del Militante
        </div>
        <ul class="Lista">
            <li><a href="#">Datos Personales</a></li>
            <li><a href="#">Datos del Usuario</a></li>
            <li><a href="#" onclick="mostrarEvento()">Evento</a></li>
            <li><a herf="#">Cerrar Sesión</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <label for="Mostrar" class="Barra_íconos">
            <div class="Línea"></div>
            <div class="Línea"></div>
            <div class="Línea"></div>
        </label>
        </nav>
    </header>
    <main>
        <section class="Evento" id="formulario">
            <div id="Cerrar"><a href="javascript:void(0)" onclick="cerrarEvento()"><i class="fa-solid fa-xmark"></i></a></div>
            <form>
                <label for="fecha inicial del evento">Fecha inicial del evento</label>
                <input type="date" id="fecha inicial" name="fecha inicial">
                <label for="fecha final del evento">Fecha final del evento</label>
                <input type="date" id="fecha final" name="fecha final">
                <label for="porcentaje realizado">Porcentaje realizado</label>
                <div class="Contenedor">
                    <select class="Menu_desplegable">
                        <option disabled selected>Seleccione el porcentaje</option>
                        <option>25%</option>
                        <option>50%</option>
                        <option>75%</option>
                        <option>100%</option>
                    </select>
                </div>
                <br>
                <div class="Utilidades">
                    <form>
                        <label>¿Qué materiales se utilizaron?</label><br>
                        <input type="checkbox">Lonas<br>
                        <label>¿Cuántas lonas se utilizaron</label><br>
                        <input type="number" id="cantidad"><br>
                        <input type="checkbox">Volantes<br>
                        <label>¿Cuántos volantes se utilizaron</label><br>
                        <input type="number" id="cantidad volantes"><br>
                        <label>¿Se realizaron reuniones de comites?</label><br>
                        <input type="checkbox">Si<br>
                        <label>¿Cuántas reuniones se llevaron acabo?</label><br>
                        <input type="number" id="cantidad reuniones"><br>
                        <input type="checkbox">No<br>
                    </form>

                </div>
                <br>
                <a href="#Ubicación" onclick="mostrarUbicacion()"><span style="color: white;">Ubicación</span></a>
                <a href="index.html" class="Botón_regresar">Regresar</a>
            </form> 
        </section>
        <section class="Ubicacion_Evento" id="lugar">
                <div id="Cerrar"><a href="javascript:void(0)" onclick="cerrarUbicacion()"><i class="fa-solid fa-xmark"></i></a></div>
                <form>
                    <label for="">Antigua contraseña</label>
                    <br>
                    <br>
                    <input type="password" id="antigua contraseña" name="antigua contraseña">
                    <br>
                    <br>
                    <label for="nueva contraseña">Nueva contraseña</label>
                    <br>
                    <br>
                    <input type="password" id="nueva contraseña" name="nueva contraseña">
                    <br>
                    <br>
                    <label for="Confirmar contraseña">Confirmar contraseña</label>
                    <br>
                    <br>
                    <input type="password" id="Confirmar contraseña" name="antigua contraseña">
                    <br>
                    <br>
                    <a href="evento.html" class="Botón_Cambiar">Cambiar</a>
                    <br>
                    <br>
                    <a href="evento.html" class="Botón_Guardar">Guardar</a>
                </form>
        <script>
            function mostrarUbicacion(){
                document.getElementById("lugar").style.display="block";
            }
            
            function cerrarUbicacion(){
                document.getElementById("lugar").style.display="none";
            }
        </script>
        </section>
        <script>
            function mostrarEvento(){
                document.getElementById("formulario").style.display="block";
            }
            function cerrarEvento(){
                document.getElementById("formulario").style.display="none";
            }
        </script>    
    </main>
</body>
</html>