{% extends "base_template.html" %}
{% block header %}
<header>
    {% include "header.html" %}
</header>
{% endblock %}
{% block content %}
<main>
    <div class="contenedor_evento">

        <div class="evento"></div>
        <p class="num_exterior">Num. exterior</p>
        <p class="municipio_alcaldia">Municipio/Alcaldía</p>
        <p class="porcentaje">Porcentaje realizado</p>
        <p class="fecha_final">Fecha final de evento</p>
        <p class="num_interior">Num.interior</p>
        <p class="lona">. Lona</p>
        <p class="volantes ">. Volantes</p>
        <p class="reunion">. Reunion comité</p>
        <input class="ingresar_cp" type="text" name="ingresar cp" id="ingresar cp" placeholder="Ejem-CP.87902">
        <input class="ingresar_calle" type="text" name="ingresar calle" id="ingresar calle"
            placeholder="Ingrese su calle">
        <p class="calle">Calle</p>
        <p class="cp">Código postal</p>
        <input class="ingresar_estado" type="text" name="ingresar estado" id=" ingresar estado"
            placeholder="Seleccione una opción">
        <input class="ingresar_alcaldia" type="text" name="ingresar alcaldia" id="ingresar alcaldia"
            placeholder="Ingrese su Alcaldía/Municipio">
        <input class="ingresar_num_exterior" type="number" name="num exterior" id="no exterior">
        <input class="ingresar_num_interior" type="text" name="num interior" id="num interior">
        <p class="evento2">Evento</p>
        <input class="ingresar_fecha_inicial" type="date" name="ingresar inicio" id="ingresar inicio">
        <input class="ingresar_fecha_final" type="date" name="ingresar final" id="ingresar final">
        <div class="seleccionar_menu">
            <!--<div clas="seleccionar">
                <span>Selecione el porcentaje</span>
                <i class="fa-solid fa-angle-down"></i>
            </div>
            <div class="porcentajes">
                <div class="opcion">25%</div>
                <div class="opcion">50%</div>
                <div class="opcion">75%</div>
                <div class="opcion">100%</div>
            </div>-->
            <label for="cars">Choose a car:</label>

            <select id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <input class="ingresar_porcentaje" type="number" name="ingresar porcentaje" id="porcentaje">
        <p class="fecha_inicial">Fecha inicial de evento</p>
        <p class="lugar">Lugar</p>
        <p class="estado">Estado </p>
    </div>
    <script>

        function cerrarEvento() {
            document.getElementById("formulario").style.display = "none";
        }
    </script>
    <script>
        const select = document.querySelector(".seleccionar");
        const porcentajes = document.querySelector(".porcentajes");
        const opciones = document.querySelector(".opcion");
        select.addEventListener("click", () => {
            porcentajes.classList.toggle("active");
            select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up");
        });
        optiones.forEach((opcion) => {
            opcion.addEventListener("click", () => {
                optiones.forEach((opcion) => { opcion.classList.remove('seleccionar') });
                select.querySelector("span").innerHTML = opcion.innerHTML;
                opcion.classList.add("seleccionar");
                porcentajes.classList.toggle("active");
                select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up");
            });
        });
    </script>
</main>
{% endblock %}