{% block nav %}
<nav>
    <input type="checkbox" id="Mostrar">
    <div class="Logotipo">
        <i class="fa-solid fa-user"></i>Nombre del Militante
    </div>
    <ul class="menu_horizontal">
        <li>
            <a herf="#">Datos del Usuario</a>
            <ul class="menu_vertical">
                <li><a href="#" onclick="mostrarVisualizar()">Visualizar</a></li>
                <li><a href="#" onclick="mostrarEditar()">Editar</a></li>
            </ul>
        </li>
        <li><a href="#" onclick="mostrarComite()">Comite</a></li>
        <li><a href="#" onclick="mostrarEvento()">Evento</a></li>
        <li><a href="#">Admin</a></li>
        <li><a href="#">Cerrar sesión</a></li>
    </ul>
    <label for="Mostrar" class="Barra_íconos">
        <div class="Línea"></div>
        <div class="Línea"></div>
        <div class="Línea"></div>
    </label>
</nav>
{% endblock %}