{% extends "base_template.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<main>
    <div class="Bv">
        <div class="cont">
            <h1 style> Bienvenido <br><br> Inicio militantes</style>
            </h1>

        </div>
    </div>
    <div class="contenedor">
        <h3 class="us">Usuario</h3>
        <div>
            <i class="access"></i>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}

                <div class="container-items-login">
                    <div>

                        <i class="fa-solid fa-user"></i>
                        {{ form.email.label }}
                    </div>
                    {{ form.email(class_="form-control-text")}}
                    {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>

                <div class="container-items-login">
                    <div>
                        <i class="fa-solid fa-lock"></i>
                        {{ form.password.label }}
                    </div>
                    {{ form.password(class_="form-control-text")}}
                    {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="container-items-login">
                    {{ form.submit(class_="secButton") }}
                </div>
            </form>
        </div>
    </div>
    </div>

</main>
{% endblock %}