{% extends "base_template.html" %}
{% block title %}ADDRESS{% endblock %}
{% block header %}
<header>
    {% include "header.html" %}
</header>
{% endblock %}
{% block content %}
<main>
    {% if error %}
    <p style="color: red;"><strong>Error:</strong> {{ error }}
        {% endif %}
    <section class="address_container">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="container text-center">
                <strong class="titulo">
                    <h4> Dirección </h4>
                </strong>
                <div class="row  ">
                    <div class="col">
                        {{ form.street.label }}
                        {{ form.street }}<br>
                        {% for error in form.street.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {{ form.numberExt.label }}
                        {{ form.numberExt }}<br>
                        {% for error in form.numberExt.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row  ">
                    <div class="col">
                        {{ form.numberInt.label }}
                        {{ form.numberInt }}<br>
                        {% for error in form.numberInt.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {{ form.cologne.label }}
                        {{ form.cologne }}<br>
                        {% for error in form.cologne.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row  ">
                    <div class="col">
                        {{ form.municipality.label }}
                        {{ form.municipality }}<br>
                        {% for error in form.municipality.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="col">
                        {{ form.state.label }}
                        {{ form.state }}<br>
                        {% for error in form.state.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row  ">
                    <div class="col">
                        {{ form.cp.label }}
                        {{ form.cp }}<br>
                        {% for error in form.cp.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="row  ">
                    <div class="col my-3">
                        <button class="button-standar">Atras</button>
                    </div>
                    <div class="col my-3">
                        <button type="submit" class="button-standar">Siguiuente</button>
                        
                    </div>
                </div>

            </div>
        </form>
    </section>
</main>

{% endblock %}