{% extends "base_template.html" %}
{% block title %}ADDRESS{% endblock %}
{% block header %}
<header>
    {% include "header.html" %}
</header>
{% endblock %}
{% block content %}
<main>
    <section class="address_container">
        <div class="container text-center">
            <strong class="titulo">
                <h4> Dirección </h4>
            </strong>
            <div class="row  ">
                <div class="col">
                    <label>
                        <p>Calle:</p>
                        <input class="input_address"   id="name" name="name" required />
                    </label>
                </div>
                <div class="col">
                    <label>
                        <p>Numero exterior:</p>
                        <input   id="name" name="name" required />
                    </label>
                </div>
            </div>
            <div class="row  ">
                <div class="col">
                    <label>
                        <p>Numero interior:</p>
                        <input   id="name" name="name" required />
                    </label>
                </div>
                <div class="col">
                    <label>
                        <p>Colonia:</p>
                        <input   id="name" name="name" required />
                    </label>
                </div>
            </div>
            <div class="row  ">
                <div class="col">
                    <label>
                        <p>Municipio/Alcaldia:</p>
                        <input   id="name" name="name" required />
                    </label>
                </div>
                <div class="col">
                    <label>
                        <p>Estado:</p>
                        <input   id="name" name="name" required />
                    </label>
                </div>
            </div>
            <div class="row  ">
                <div class="col">
                    <label>
                        <p>Codigo postal:</p>
                        <input   id="name" name="name" required />
                    </label>
                </div>
            </div>

            <div class="row  ">
                <div class="col my-3">
                    <button class="button-standar">Atras</button>
                </div>
                <div class="col my-3">
                    <button class="button-standar">Siguiuente</button>
                </div>
            </div>
            
        </div>
    </section>
</main>

{% endblock %}