{% extends "base_template.html" %} 
{% block header %}
<header>{% include "header.html" %}</header>
{% endblock %} 
{% block content %}
<main>
    <form action="post">
        <section class="ruGral">
            <section class="registroUsuario">
                <strong>
                    <h3>Registro de usuario</h3>
                </strong>
                <fieldset class="formularioRegUs">
                    <label>
                        <p>Nombre:</p>
                        <input type="text" id="name" name="name" required />
                    </label>
                    <label>
                        <p>Apellido paterno:</p>
                        <input type="text" id="lastname1" name="lastname1" required />
                    </label>
                    <label>
                        <p>Apellido materno:</p>
                        <input type="text" id="lastname2" name="lastname2" required />
                    </label>
                    <label>
                        <p>Celular:</p>
                        <input type="tel" id="cellphone" name="cellphone" required />
                    </label>
                    <label>
                        <p>Telefono:</p>
                        <input type="tel" id="homephone" name="homephone" />
                    </label>
                    <label>
                        <p>Correo:</p>
                        <input type="email" id="email" name="email" required />
                    </label>
                    <label>
                        <p>Clave elector:</p>
                        <input type="text" id="cve" name="cve" required />
                    </label>
                    <label>
                        <p>Rol:</p>
                        <input type="text" id="rol" name="rol" required />
                    </label>
                </fieldset>
                <input type="submit" value="Aceptar" />
            </section>
            <!-- <section class="registroUsuario2">
                <fieldset>
                    <label>
                        <p>Calle:</p>
                        <input type="text" name="calle" required>
                    </label>
                    <label>
                        <p>N° Exterior:</p>
                        <input type="number" name="exNumber" required>
                    </label>
                    <label>
                        <p>N° Interior:</p>
                        <input type="number" name="inNumber">
                    </label>
                    <label>
                        <p>Colonia:</p>
                        <input type="text" name="col" required>
                    </label>
                    <label>
                        <p>Municipio/Alcaldia:</p>
                        <input type="text" name="municipio" required>
                    </label>
                    <label>
                        <p>Codigo postal:</p>
                        <input type="number" name="cp" required>
                    </label>
                </fieldset> -->
        </section>
    </form>
</main>
{% endblock %}