{% extends "base_template.html" %}
{% block title %}TABLERO COMITE{% endblock %}
{% block header %}
<header>
    {% include "header.html" %}
</header>
{% endblock %}
{% block content %}
<main>
    <!-- <main class="main-prueba"> -->
    <br><br><br>
    <br>

    <section class="cont_tablero">
        <h3>Tablero del comité</h3>
    </section>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.homework.label }}
        </div>
        <div>
            {{ form.homework(class_="tarea_h")}}
            {% for error in form.homework.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

        </div>

        <div class="form-group">
            {{ form.dateinicio.label }}
        </section>
        </div>
        <div>
            {{ form.dateinicio }}
            {% for error in form.dateinicio.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}

        </div>
        <div class="form-group">
            {{ form.datefinal.label }}
            </section>
            <div>
                {{ form.datefinal }}<br>
                {% for error in form.datefinal.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.description.label }}

            </div>
            <div>
                {{ form.description }}
                {% for error in form.description.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.advance.label }}
            </div>
            <div>
                {{ form.advance }}<br>
                {% for error in form.advance.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <section class="cont_fotos">
                <div>
                    <input class="seleccionart" type="file" id="fileInput">
                    <button type="button" id="uploadButton">Cargar</button>
                </div>
                <div id="filePreview"></div>
            </section>

            <div class="list">
                <h4>Lista de militantes</h4>
                <h5>Operador político</h5>
            </div>

            <section class="cont_militantes">
                <h6>1. Militante 1</h6>
            </section>

            <div>
        {{ form.submit(class_="cargar") }}
    </div>
    
    </form>
    <script>
        const selec = document.querySelector(".selec");
        const options_list = document.querySelector(".options_list");
        const options = document.querySelector(".option");

        select.addEventListener("click", () => {
            options_list.classList.toggle("active");
            select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up");
        });

        options.forEach((option) => {
            option.addEventListener("click", () => {
                options.forEach((option) => { option.classList.remove('selec') });
                select.querySelector("span").innerHTML = option.innerHTML;
                option.classList.add("selec");
                options_list.classList.toggle("active");
                select.querySelector(".fa-angle-down").classList.toggle("fa-angle-up");
            });
        });
    </script>
    <script>
        document.getElementById('uploadButton').addEventListener('click', function () {
            var fileInput = document.getElementById('fileInput');
            var filePreview = document.getElementById('filePreview');

            if (fileInput.files.length === 0) {
                alert('Por favor, seleccione un archivo primero.');
                return;
            }

            var file = fileInput.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                var preview = document.createElement('img');
                preview.src = e.target.result;
                preview.style.maxWidth = '100%';
                preview.style.maxHeight = '200px';
                filePreview.innerHTML = '';
                filePreview.appendChild(preview);
            };

            reader.readAsDataURL(file);
        });

    </script>

</main>
{% endblock %}