
{% extends "base_template.html" %}
{% block title %}Trayectoria{% endblock %}
{% block header %}
<header>
    {% include "header.html" %}
</header>
{% endblock %}
{% block content %}
<main>
      <div class="Contenedor">
        <form method="post" novalidate>
          {{ form.hidden_tag() }}
        <div class="columna">
          <h2 class="texth2">Trayectoria</h2>
            {{ form.name.label }}
            {{ form.name(size=100) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            <div>
              {{ form.role.label }}
              {{ form.role }}<br>
              {% for error in form.role.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>  
            <div>
              {{ form.dateinicio.label }}
              {{ form.dateinico }}<br>
              {% for error in form.dateinicio.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          
          <div class="botons">
              <a class="bottom" href="https://www.google.com.mx" target="blank">Atras</a>
                <a class="bottom" href="https://www.google.com.mx" target="blank">Siguiente</a>
            </div>
        </div>
        </form>
      </div>

     
    </main>
    {% endblock %}
