{% extends "base_template.html" %}
{% block title %}Trayectoria{% endblock %}
{% block header %}
<div>
  <header>
      {% include "header.html" %}
  </header>
</div>
<body >
  {% endblock %}
  {% block content %}
  <br>
  <main class="main-container">
      <div class="contenedor">
        <form method="post" novalidate>
          {{ form.hidden_tag() }}
          
          <h2 class="texth2">Trayectoria</h2>
          <br>
            <div class="form-group">
            {{ form.name.label }}
            {{ form.name(size=30) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            </div>
            <div class="form-group">
              {{ form.role.label }}
              {{ form.role }}<br>
              {% for error in form.role.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>  
            <div class="form-group">
              {{ form.dateinicio.label }}
              {{ form.dateinicio(aria_label="Fecha de inicio") }}<br>
              {% for error in form.dateinicio.errors %}
              <span class="error">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="botons">
              <a class="bottom" href="https://www.google.com.mx" target="blank">Atras</a>
              <a class="bottom" href="https://www.google.com.mx" target="blank">Siguiente</a>
            </div>
        </form>
      </div>
  </main>
  {% endblock %}
</body>
